ul{
	list-style: none;

}
ul li.todo-done{
	color: grey;
	text-decoration: line-through;
}


li button{
	display:  none;
}
li:hover button{
	display: inline-block;
}

body{
	width: 70%;
	margin: 0 auto;
}
.vi{
	margin-top: 20px;
}